.popup__social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
  width: 406px;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 470px) {
  .popup__social {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 176px;
    gap: 40px;
  }
}