.scheme__title {
  margin: 0;
  padding: 0 0 25px;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-500);
  color: var(--black-color);
  text-align: center;
}

@media screen and (max-width: 640px) {
  .scheme__title {
    font-size: 16px;
    line-height: 1.1;
    padding: 0;
  }
}