.offers {
  max-width: var(--max-width);
  margin: var(--section-margin);
  overflow-x: hidden;
}
@media screen and (max-width: 640px) {
  .offers {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 60px;
    max-width: var(--max-width-sm);
  }
}