.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: var(--border-radius-2xl);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  text-decoration: underline;
}