.form__road_step {
  margin: 0;
  width: 50%;
  padding: 0 46px 7px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray_light-color);
  position: relative;
  transition: .5s;
  border-bottom: 2px solid var(--gray_light-color);
}

.form__road_step.active {
  color: var(--black-color);
  border-bottom: 2px solid var(--blue-color);
}

.form__road_step.valid {
  opacity: .6;
}

/*.form__road_step::after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  left: 0;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*  height: 2px;*/
/*  border-radius: 10px;*/
/*  background-color: var(--blue-color);*/
/*}*/

/*.form__road_step::after.active {*/
/*  background-color: #3073E8;*/
/*}*/


@media screen and (max-width: 870px){
  .form__road_step {
    font-size: 12px;
    line-height: 13px;
  }
}