.button {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-main);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .button:hover {
    background-color: #005CFF;
  }

  .button:active {
    background-color: #004ED9;
  }
}