.about {
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: var(--section-margin);
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: var(--black-color);
  border-radius: var(--border-radius-mxl);
}