.faq {
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: 150px auto 0;
  background-color: var(--white-color);
  padding: 50px 100px 100px;
  border-radius: var(--border-radius-xl);
}