.offers__title {
  margin-bottom: 40px;
  font-size: 50px;
}
@media screen and (max-width: 470px) {
  .offers__title {
    font-size: var(--font-size-main);
    line-height: 20px;
    margin: 0 0 30px;
  }
}