.contact__title {
  margin: 0;
  padding: 0;
  max-width: 960px;
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-500);
  font-size: var(--line-height-l);
  text-align: center;
  align-self: center;
}