.header__link_outlined {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: var(--border-radius-xs);
  font-family: var(--font-family-main);
}

@media screen and (max-width: 640px) {
  .header__link_outlined {
    border: none;
    padding: 0;
    font-family: 'YS Display';
  }
}