.quiz__title {
  margin: 0;
  font-weight: var(--font-weight-500);
  font-size: 36px;
  line-height: 42px;
}

@media screen and (max-width: 640px) {
  .quiz__title {
    font-size: 18px;
    line-height: 1.1;
  }
}