.offers__select-btn {
  /* background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; */
}
/* .offers__select-btn::after {
  content: "";
  display: block;
  background: url(../../../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
} */