.quiz {
  max-width: var(--max-width);
  margin: var(--section-margin);
  display: flex;
  gap: 40px;
  max-height: 407px;
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .quiz {
    max-width: var(--max-width-sm);
    flex-direction: column;
    gap: 20px;
    min-height: 479px;
    margin: 60px auto 0;
  }
}