.hero {
  margin: 20px auto 0;
  max-width: var(--max-width);
  background-image: url(../../images/main-background.png);
  background-size: cover;
  aspect-ratio: 1160 / 650;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-500);
  color: var(--white-color);
}