.contact__button {
  margin: 40px 0 0;
  padding: 0px 107.5px;
  max-width: 360px;
  align-self: center;
  border-radius: 100px;
}

@media screen and (max-width: 640px) {
  .contact__button {
    padding: 0px 16px;
    max-width: 180px;
    font-size: 14px;
    line-height: 36px;
  }
}