.advantages__description {
  margin: 0;
  max-width: 326px;
  font-size: var(--font-size-main);
  line-height: var(--line-height-m);
}
@media screen and (max-width: 470px) {
  .advantages__description {
    font-size: 14px;
    line-height: 15px;
    max-width: 240px;
  }
}