.faq__title {
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 470px) {
  .faq__title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
    min-width: 180px;
  }
}
