.quiz__result {
  width: 300px;
  border-radius: var(--border-radius-2xl);
  display: flex;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-500);
  justify-content: center;
  line-height: 60px;
  padding: 0 28px;
}