.footer {
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: var(--section-margin);
  padding: 50px 106px 123px;
  display: flex;
  gap: 150px;
  background-color: var(--white-color);
  border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
}

@media screen and (max-width: 640px) {
  .footer {
    max-width: var(--max-width-sm);
    flex-direction: column;
    
  }
}
@media screen and (max-width: 470px) {
  .footer {
    width: 300px;
    padding: 40px 20px;
    border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;
    max-height: 880px;
    overflow: hidden;
    margin: 60px auto 0;
  }
}