.footer {
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: var(--section-margin);
  padding: 50px 106px 123px;
  display: flex;
  gap: 150px;
  background-color: var(--white-color);
  border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
}