.advantages__title {
  margin-bottom: 40px;

}
@media screen and (max-width: 470px) {
  .advantages__title {
    margin-bottom: 30px;
    font-size: var(--font-size-main);
    line-height: 20px;
  }
}
