.quiz__subtitle {
  margin: 0;
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  color: var(--gray-color);
}

@media screen and (max-width: 640px) {
  .quiz__subtitle {
    font-size: 14px;
    line-height: 130%;
  }
}