.header__nav {
  align-self: center;
}

@media screen and (max-width: 640px) {
  .header__nav {
    display: none;
    border-radius: 16px;
    width: 100%;
    margin: 10px 0 0;
    background-color: var(--white-color);
    padding: 20px;
    box-sizing: border-box;
  }
}
