.offers__card-title {
  margin: 0;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  width: 409px;
}
@media screen and (max-width: 470px) {
  .offers__card-title {
    font-size: var(--font-size-s);
    line-height: 18px;
    width: 238px;
  }
}
