.form__list_role {
  width: 100%;
  position: absolute;
  left: 0;
  top: 66px;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

.form__list_role.active {
  opacity: 1;
  visibility: visible;
}