.form__list_direction {
  width: 100%;
  position: absolute;
  left: 0;
  top: 66px;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  max-height: 100px;
  transition: .5s;
}

.form__list_direction.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}