.scheme__item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

@media screen and (max-width: 640px) {
  .scheme__item {
    font-size: 14px;
    line-height: 1.1;
    gap: 10px;
    max-width: 200px;
  }

  .scheme__item img {
    max-width: 18px;
  }
}