.quiz__left {
  max-width: 560px;
  width: 100%;
  box-sizing: border-box;
  padding: 51px 40px 40px 67px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: var(--border-radius-m);
  background-color: var(--white-color);
  position: relative;
}

@media screen and (max-width: 640px) {
  .quiz__left {
    padding: 30px;
    gap: 10px;
    border-radius: 15px;
  }
}