.quiz__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 640px) {
  .quiz__right {
    font-size: 14px;
    line-height: 1.3;
  }
}