.scheme {
  width: 460px;
  box-sizing: border-box;
  background-color: var(--white-color);
  border-radius: var(--border-radius-m);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

@media screen and (max-width: 640px) {
  .scheme {
    max-width: 240px;
    padding: 20px;
    gap: 20px;
  }
}