.advantages {
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: var(--section-margin);
  font-family: var(--font-family-YS);
}
@media screen and (max-width: 1280px) {
  .advantages {
    max-width: 937px;
  }
}
@media screen and (max-width: 960px) {
  .advantages {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 770px;
  }
}
@media screen and (max-width: 400px) {
  .advantages {
    padding: 0 10px;
    margin-top: 60px;
  }
}