.faculties {
  max-width: 1160px;
  margin: var(--section-margin);
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .faculties {
    margin: 60px auto 0;
  }
}

@media screen and (max-width: 640px) {
  .faculties {
    max-width: var(--max-width-sm);
    padding: 0 10px;
  }
}
