.advantages__card_big {
  padding: 50px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  width: 560px;
  justify-content: space-between;
  border-radius: var(--border-radius-m);
}