.advantages__card_big {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 180px;
  justify-content: space-between;
  border-radius: var(--border-radius-m);
}
@media screen and (max-width: 1280px) {
  .advantages__card_big {
    max-width: 448px;
  }
}
@media screen and (max-width: 470px) {
  .advantages__card_big {
    height: min-content;
    max-height: 148px;
    width: 300px;
    padding: 30px;
    gap: 10px;
    border-radius: 15px;
  }
}