.reviews__button {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  background-image: url(../../../images/scroll_up.svg);
  background-position: 50%;
  filter: invert(1);
  border: none;
}