.form__input_type_role {
  caret-color: transparent;
}

.form__input_type_role:focus {
  background: rgba(0, 0, 0, 0.06);
}
.form__input_type_role:focus .form__placeholder {
  color: var(--blue-color);
}