.form {
  margin: 0 auto;
  width: 810px;
  box-sizing: border-box;
  padding: 70px 100px;
  background-color: var(--white-color);
  border-radius: var( --border-radius-xl);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

