/* .form {
  margin: 0 auto;
  width: 810px;
  box-sizing: border-box;
  padding: 70px 100px;
  background-color: var(--white-color);
  border-radius: var( --border-radius-xl);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 60px;
  visibility: visible;
  opacity: 1;
}
 */

.form {
  visibility: hidden;
  opacity: 0;
  filter: drop-shadow(0 4px 67px rgba(50, 53, 85, 0.4));
  z-index: 5;
  position: fixed;
  top: 13%;
  left: 315px;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: visibility .3s, opacity ease 0.3s;
  margin: 0 auto;
  width: 810px;
  box-sizing: border-box;
  padding: 70px 100px;
  background-color: var(--white-color);
  border-radius: var(--border-radius-xl);
  flex-direction: column;
  gap: 60px;
}