.about__cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1025px) {
  .advantages__card_big {
    width: 458px;
  }
}

@media screen and (max-width: 800px) {
  .about__cards {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

